@font-face {
  font-family: 'NPSfontBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "digital";
  src: url("./LAB.ttf");
}

*{
  font-family: 'NPSfontBold';
  list-style: none;

}

ul,
ol{
  padding-left: 0;
  
}

a {
  text-decoration: none;
}